# Shell scripts and Automake sources can't have CRLF line endings
configure.ac	eol=lf
Makefile.am	eol=lf
*.m4		eol=lf
*.sh		eol=lf

# Omit from release tarball
.gitattributes	export-ignore
.gitignore	export-ignore
/.github	export-ignore
/misc		export-ignore
/test/cases	export-ignore
