*~
*.la
*.lo
*.loT
*.o

Makefile
Makefile.in
.deps
.libs

/aclocal.m4
/autom4te.cache
/config.guess
/config.h
/config.h.in
/config.status
/config.sub
/config.log
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
/*.pc

/src/test

/doc/html
/doc/latex
/doc/man
