*~
*.a
*.la
*.lo
*.loT
*.o
*.exe
*.manifest
*.rc

.dirstamp

Makefile
Makefile.in
.deps
.libs

/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.h
/config.h.in
/config.status
/config.sub
/config.log
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
/test-driver
/test-suite.log
/*.pc

/mingw32-config.cache

/src/make-tables
/src/openslide-tables.c

/test/*.log
/test/*.trs
/test/_slidedata
/test/driver
/test/extended
/test/mosaic
/test/parallel
/test/profile
/test/query
/test/synth
/test/try_open

/doc/html
/doc/latex
/doc/man
